*{
    margin: 0;
}
body{
    background-color: rgb(23, 21, 21);
    color: rgb(238, 230, 230);
}

.navbarre{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #33333339;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li{
    padding-right:100px ;
}
section{
    display: flex;
    margin: 30px;
    padding: 5px;
}
.droite{
    width: 50%;
}
#rooter{
    width: 100%;
}
.gauche{
    display: flex;
    align-items: center;
    justify-content: end;
}
.titre{
    font-size: 5rem;
}
.stitre{
    font-size: 2rem;
    color: blue;
}
p{
    font-size: 0,8rem;
}
.left{
    text-align: center;
    padding: 5px;
}
.btn{
    display: flex;
    flex-direction: column;
}
button{
    background-color: rgb(31, 31, 185);
    color: white;
    border-radius: 9px;
    height: 40px;
    width: 150px;
    margin: 5px;
}
.right{
    width: 67%;
    
}
.im{
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    width: 67% ;
}
.im img{
    width: 80px;

}
.foot{
    display: flex;
    justify-content: space-between;
    background-color: black ;
} 

/* responsivité */
@media screen and (max-width: 1030px) {
    .titre{
        font-size: 2.5rem;
    }
    .stitre{
        font-size: 1.5rem;
    }
    p{
        font-size: 0.7;
    }
}
@media screen and (max-width: 700px) {
    li{
        font-size: 0.8rem;
    }
    .titre{
        font-size: 1.5rem;
    
    }
    .stitre{
        font-size: 1rem;
    }
    p{
        font-size: 0.6rem;
    }
    .im img{
        width: 50px;
    }
    button{
        width: 80px;
        height: 40px;
    }
    .btn{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 7px;
    }

}
@media screen and (max-width: 800px) {
    .right{
        width: 50px;
    }
    
}